@import "tailwindcss";

:root {
  --cream: #f5efe6;
  --gold: #c9a227;
  --deep-red: #8b1e1e;
}

body {
  background-color: var(--cream);
  font-family: "Georgia", serif;
}

.section-container {
  @apply max-w-6xl mx-auto px-6;
}

.soft-card {
  @apply bg-white rounded-2xl shadow-lg hover:shadow-xl transition duration-300;
}